h1, h2, h3 {
	text-align: center;
}

/**
 * Table of contents
 */

.toc__row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: .5em;
    align-items: baseline;

    line-height: 1.8;
}

.toc__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toc a { text-decoration: none; }
.toc__row:hover .toc__title { text-decoration: underline; }

.toc__separator {
    display: inline-block;
    height: 0;
    border-bottom: 1px dotted var(--text-color);
    min-width: 1em;
}

.toc__date {
}

/**
 * Cyberspace
 */

.cyberspace {
	/* Remove list styling */
	list-style: none;
	padding: 0;

	/* Display as star box */
	display: block;
	height: 300px;
	background-color: black;
	background-image: url(../images/stars.gif);

	/* Same shadow as images */
	box-shadow: 4px 2px 8px 2px rgb(0 0 0 / 9%);
	border-radius: 7px;

	/* Must be positioned so items can be positioned relative to their container */
	position: relative;
}

.cyberspace__item {
	/* Per-element styles set 'left' and 'right'. */
	position: absolute;
}

.cyberspace__item__link { color: #4949f4; }
.cyberspace__item__link:visited { color: magenta; }
