/* Site-wide styles. */

body{
	max-width: 60ch;
	margin: 2rem auto;
	line-height: 1.6;
	font-size: 18px;
	color: #A8F8EC;
	background-color: #14574D;
	padding: 0 10px;
}

h1, h2, h3{
	line-height: 1.2;
	font-family: "helvetica neue", helvetica, sans-serif;
}

footer {
	text-align: center;
	font-size: small;
}

a { color: white; }
a:visited { color: inherit; }

details {
	padding: 1rem;
	border-radius: 7px;
	background-color: #114941;
}
details > summary { font-family: "helvetica neue", helvetica, sans-serif; }
details summary::marker { content: "👉\0000a0\0000a0"; /* HACK */ }
details[open]   summary::marker { content: "👇\0000a0\0000a0"; }

pre { overflow-x: auto; }
