/* Site-wide styles. */

body{
	max-width: 60ch;
	margin: 2rem auto;
	padding: 0 10px;

	line-height: 1.6;
	font-size: 18px;
	font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;

	color: #A8F8EC;
	background-color: #14574D;
}

h1, h2, h3{
	line-height: 1.2;
	font-family: "helvetica neue", helvetica, sans-serif;
}

footer {
	text-align: center;
	font-size: small;
	margin-block: 2rem;
}

a { color: white; }
a:visited { color: inherit; }

details, pre {
	padding: 1rem;
	border-radius: 7px;
	background-color: #114941;
}
details > pre { padding: 0; margin-bottom: 0; } /* HACK: avoid double spacing */
details > summary { font-family: "helvetica neue", helvetica, sans-serif; }
details summary::marker { content: "👉\0000a0\0000a0"; /* HACK */ }
details[open]   summary::marker { content: "👇\0000a0\0000a0"; }

pre {
	overflow-x: auto;
	line-height: 1;
}

code {
	font-family: Courier, monospace;
	font-size: 0.875em; /* Courier appears taller than system font at 1em */
}

img {
	box-shadow: 4px 2px 8px 2px rgb(0 0 0 / 9%);
	border-radius: 7px;
	max-width: 100%;
}
@media all and (min-width: 700px) {
	img {
		max-width: 80%;
		display: block;
		margin-inline: auto;
	}
}

/* separate sections */
section.footnotes { border-top: 2px solid; }
main { border-bottom: 2px solid; }

.favicon {
	height: .7em;
	width: auto;
	margin-inline-start: .5ch;
	display: inline-block;
	border: 1px solid;
}
